/* SELETTORI CSS, 3 tipi di selettori:
1. selettore tag name. Con questo selettore fornisco delle regole a tutti i tag dello stesso tipo

2. selettore class si esprime con il . (punto): in questo caso posso applicare le stesse regole a tutti gli elementi che hanno quella specifica classe

3. selettore id si esprime con # (hash): in questo caso solo ed esclusivamente il tag con quell'id riceverà le regole. ATT: posso targare un solo elemento con quell'id nella pagina html. L'ID deve essere univoco

*/

/* SELETTORE nome tag */
h1{
    color: orange;
}

/* SELETTORE by class name */
.error{
    color: red;
}

.success{
    color:green;
    font-size: 30px;
}

/* SELETTORE By Id */
#par1{
    color: purple;
}

#content{
    background-color: lightpink;
}

/* Tag e attributo per la selezione.
    Voglio fornire delle regole solo ai tag ul di classe success
*/
ul.success{
    /* In questo caso sto sovrascivendo solo la regola color. La regola font-size viene ereditata dalla classe .success */
    color: blue;
}

/* Eredità e specificità */

section{
    color: lightcoral;
    border: 1px solid grey;
    /* Il margin spinge dal bordo verso l'esterno */
    margin: 40px;
    font-weight: bold;
}

section p{
    /* inherit significa "eredita". In questo caso sto ereeditando delle regola dal parent, cioè dalla section che contiene i miei due tag p */
    border: inherit;
    margin: inherit;

    /* SOvrascrivo una regola */
    color: crimson;
}

/* MARGIN & PADDING */

/* Il margin è lo spazio esterno di un elemento. Si tratta dell'area che separa un elemento dagli altri circostanti. I margini non hanno colore e non influenzano le dimensioni dell'elemento stesso; invece, creano spazio intorno a esso */
/* Il padding è lo spazio interno diu un elemento. E' l'area che separa il contenuto dell'elemnto(testo o immagini) dal bordo dello stesso. Il padding modifica cle dimensioni dell'elemento */

div.spazioMarg{
    width: 200px;
    height: 200px;
    border: 2px solid crimson;
    margin: 60px;
    padding: 60px;
}


/* Regole per margin e pading */

span{
    /* Questo applica lo stesso margin su tutti i lati */
    /* margin: 50px;  */

    /* Questi applicano un margin per ogni lato */
    /* margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px; */

    /*       Top right bottom left */
    /* margin: 50px 40px 30px 20px; */

    /*      Top-btm Left-right */
    /* margin: 50px 30px; */

    /* In questo caso sto applicando il margin solo sopra e a sinistra */
    margin: 50px 0 0 20px;
}