/*---------------Regole per il mobile----------*/
body{
    color: white;
    background-color: #313131;
}

main{
    padding: 1rem;
}

p{
    font-size: 1.2rem;
}

.box{
    width: 100%;
    height: 10vh;
    margin: 2rem auto;
    border: 1px solid white;

}

/* -----------Regole per il tablet ------------ */

@media (min-width: 768px){
    body{
        background-color: rgba(0, 90, 15, 0.541);
    }

    main{
        max-width: 80%;
        margin: 0 auto;
    }

    .box{
        width: 48%;
        float: left;
        margin: 2rem 1%;
    }
}

/* -----------Regole per desktop ------------ */
@media (min-width: 1200px){

    body{
        background-color: rgba(157, 53, 255, 0.585);
    }
    
    main{
        /* ATT: si riscrivono solo le regole che si voglio sovrascrivere, non tutte */
        max-width: 60%;
    }

    .box{
        width: 23%;
    }
}