body{
    width: 80%;
    margin: 0 auto;
    font-family:  Calibri, sans-serif;
}
.mt4{
    margin-top: 4em;
}

.container{
    width: 100%;
    min-height: 300px;
    border-radius: 12px;
    background-color: #b7c6ff;
}

.clearfix{
    clear: both;
}

.flex{
    display: flex;
}

.justify-start{
    justify-content: start;
}

.box{
    width: 20%;
    min-height: 280px;
    margin: 2rem;
    border-radius: 12px;
    background-color: #425abd;
    color: white;
    padding: 0.8rem;
}

.row{
    width: 20%;
    /* min-height: 260px; */
    margin: 2rem;
    border-radius: 12px;
    background-color: #425abd;
    padding: 0.8rem;
    color: white;
    flex-wrap: wrap;
}

.box1{
    width: 60%;
    /* min-height: 280px; */
    /* background-color: bisque; */
}
.box2{
    width: 40%;
    /* min-height: 280px; */
    /* background-color: blueviolet; */
}

.row ul{
    list-style: none;
    padding: 0;
}

.box3{
    width: 100%;
    border-top: 1px solid white;
}