/* Esistono delle prop del css che permettono di controllare la posizione degli elementi. Una di queste regole è position

POSITION può avere 5 valori diversi

- static -> Questo è il valore di default di tutti gli elementi. L'elemento segue il normale flusso del documento, viene posizionato in base all'ordine in cui appare
- relative -> questi elementi sono posizionati in relazione alla loro posizione originale. In questo caso posso utilizzare le prop top, bottom, left, right per spostare l'elemento
- fixed -> Questi elementi sono posizionati rispetto alla finestra del browser. L'elemento resta fisso anche quando l'utente muove la pagina
- sticky -> Questi elementi combinano fixed e relative. Iniziano con relative e si trasformano in fixed quando raggiungono una misura o una posizione stabilita. Tipicamente sono le navbar che non scorrono mentre scendo nella pagina
- absolute ->  Questi elementi sono posizionati rispetto al loro primo genitore non static (ciò relativamente ad un elemento con position: relative, absolute o fixed)
*/

/* Altre proprietà da usare in combinazione con le regole del position:
- top -> distanza dal bordo superiore
- bottom -> distanza dal bordo inferiore
- left -> distanza dal bordo sinistro
- right -> distanza dal bordo destro
 */


main{
    max-width: 500px;
    margin: 0 auto;
    /* metto un poò di padding per dare spazio ai box */
    padding-top: 100px;
    /* Questo mi serve per far vedere il comportamten di sticky e fixed */
    min-height: 500vh;
}

.background{
    height: 80px;
    background-color: #d1d1d1;
}

.box{
    padding: 0.5rem;
    background-color: aquamarine;
    border: 1px dashed #313131;
}

.relative{
    position: relative;
    top: 20px;
    left: 20px;
}

.fixed{
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
}

.parent-absolute{
    position: relative; /*il parent prende come regola il relative nel 90% dei casi*/
    height: 500px;
    padding: 0.5rem 1rem;
    margin: 3rem;
    background-color: #d1d1d1;
}

.absolute{
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.sticky{
    position: sticky;
    top: 80px;
    z-index: -2;
}